<div class="container">   
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <form method="post" action="/course/{{courses._id}}">
        <h2>Cập nhật nội dung</h2>
            <div class="form-group">
                <label for="title">title</label>
                <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title" value="{{courses.title}}">
                <small class="form-text text-muted">Không được bỏ trống</small>
            </div>
          <div class="form-group">
              <label for="subject">Đề tài</label>
              <input type="text" class="form-control" id="subject" aria-describedby="emailHelp" name="subject" required="true" value="{{courses.subject}}">
              <small class="form-text text-muted">Không được bỏ trống</small>
          </div>
          <div class="form-group">
            <label for="body">body</label>
            <textarea id="body" name="body">{{{courses.body}}}</textarea>
            <small class="form-text text-muted">Không được bỏ trống</small>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
    </form>
    <form method="post" action="/course/{{courses._id}}/updateimg" enctype="multipart/form-data">
        <img src="{{courses.img}}"/>
        <p>Sửa thumnail</p>
        <div class="input-group">
          <div class="custom-file">
            <!-- <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="imgurl">
            <label class="custom-file-label" for="inputGroupFile04">Choose file</label> -->
            <label for="imgurl">Chọn ảnh: </label>
            <input type="file" id="imgurl" name="imgurl" multiple>
          </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
</div> 
<script>
        CKEDITOR.replace( 'body' );
</script>
