
<div class="container">
    
    <div class="show_layout">
        <div id="course_id_s" data-id="{{course._id}}"></div>
        <div class="left_show">
            <div class="checkbox-like">
                <input type="checkbox" id="vehicle1" name="vehicle1" value="{{course.likeCount}}">
                <span>
                    <i style="font-size: 30px;" class="fa-regular fa-thumbs-up"></i>
                    <span>{{course.likeCount}}</span>
                </span>
            </div>
            
            
            <i class="fa-regular fa-comment"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="contentframe" data-id-course="{{course._id}}">
           
            <h1>{{course.title}}</h1>
            <div class="author">
                <h5>Tác giả: {{ fullname course.author.firstname course.author.lastname}}</h5>
                <p>Ngày đăng: {{course.createdAt}}</p>
            </div>
            <div>
                <img src="{{course.img}}"/>
            </div>
            <div>{{{course.body}}}</div>
        </div>
    </div>
    <div class="comment_course">
        <h5>Bình Luận</h5>
        {{#if user}}
        <!-- /course/id_course/comment -->
        
        <form method="post" action="/course/{{this.course._id}}/comment" id="comment_form">
             <div class="form-group">
                <label for="chat_text">Viết bình luận của bạn</label>
                <textarea class="form-control" id="chat_text" name="chat_text" rows="2"></textarea>
            </div>
            <button type="submit" id="sendComment" class="btn btn-dark">Gửi</button>
        </form>
        

        <div class="container text-left" >
            {{#each comments}}
            
              <div class="row">
                <div class="col-sm-1">
                    <div class="img_user">
                        <img src="{{this.userId.img}}"/>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="info_user_content">
                        <h5>{{fullname this.userId.firstname this.userId.lastname}}</h5>
                        <p>{{this.content}}</p>
                    </div>
                    <div class="interaction_user" data-id="{{this._id}}">
                        <span>thích</span>
                        <span>{{checkIdEdit this.userId._id}}</span>
                       
                        <span class="interaction_user_replay">
                            <i class="fa-solid fa-reply"></i>
                            Trả lời
                        </span>
                        
                        <div class="comment_replay">
                           <!--  /course/id_comment/relay -->
                            <form  method="post" action="/course/{{this._id}}/replay">
                                 <div class="form-group">
                                    <label for="chat_text">Viết bình luận trả lời của bạn</label>
                                    <textarea class="form-control" id="chat_text" name="chat_text_r" rows="2"></textarea>
                                </div>
                                <button type="submit" style="margin-left: 10px;" class="btn btn-primary close submit">Gửi</button>
                                <button type="button" class="btn btn-primary close">Hủy</button>
                            </form>
                        </div>
                        {{#if this.replay}}
                            <div>
                                <p>xem tra loi</p>
                                {{#each this.replay}}
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="img_user">
                                                <img src="{{this.userId.img}}"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="info_user_content">
                                                <h5>{{fullname this.userId.firstname this.userId.lastname}}</h5>
                                                <p>{{this.content}}</p>
                                            </div>
                                            <div class="interaction_user" data-id="{{this._id}}">
                                                <span>thích</span>
                                                <span class="interaction_user_replay">
                                                    <i class="fa-solid fa-reply"></i>
                                                    Replay
                                                </span>
                                                <div class="comment_replay">
                                                    <form  method="post">
                                                         <div class="form-group">
                                                            <label for="chat_text">Viết bình luận trả lời của bạn</label>
                                                            <textarea class="form-control" id="chat_text" name="chat_text_r" rows="2"></textarea>
                                                        </div>
                                                        <button type="button" class="btn btn-primary close">Hủy</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                {{/each}}
                            </div>
                        {{else}}
                        <div></div>
                        {{/if}}
                    </div>
                </div>
              </div>
            {{/each}}
        {{else}}
            <p class="text-center" style="cursor: pointer;" onclick="window.location='/login'">vui lòng đăng nhập để xem bình luận</p>
        {{/if}}
        </div>
    </div>
</div>
<script>
    // enter gửi comment
    document.addEventListener('DOMContentLoaded',function(event) {
        
        $('#vehicle1').hide()
        $('.checkbox-like span').click(function(){
            if($('#vehicle1').is(":checked")){
                $('#vehicle1').removeAttr('checked')
                document.querySelector('.checkbox-like span').innerHTML =`<i style="font-size: 30px;" class="fa-regular fa-thumbs-up"></i><span>{{course.likeCount}}</span>`

            }else{
                $('#vehicle1').attr("checked","checked")
                document.querySelector('.checkbox-like span').innerHTML =`<i style="font-size: 30px;" class="fa-solid fa-thumbs-up"></i><span>{{course.likeCount}}</span>`
            }
            changeInput()
            
        })
        function changeInput(){
            const thisI =$('#vehicle1')
            var id = $('#course_id_s').attr('data-id')
            var like
            if($(thisI).is(":checked")){
                 like =doiChuoi($(thisI).attr('value'))+1
                $('.checkbox-like span span').text(like)
            }else{
                 like =doiChuoi($(thisI).attr('value'))
                $('.checkbox-like span span').text(like)
            }
            $.ajax({
                url:`/course/${id}/like`,
                type:'POST',
                data:{
                    likeCount:like
                }
            })
            .then(data=>{})
            .catch(err=>{})
        }
        function doiChuoi(a){
            var b;
            try{
                b =parseInt(a)
                return b
            }catch{
                return 0
            }
        }
        $('.comment_replay').hide()
        const form_comment =document.forms['comment_form']
        document.getElementById('chat_text').addEventListener('keypress',(event)=>{
            if(event.keyCode == 13){
                form_comment.submit()
            }
        })

        const id_course =$('.contentframe').attr('data-id-course')
        const interaction_user =document.querySelectorAll('div.col-sm-8 .interaction_user')
        for(let i=0;i<interaction_user.length;i++){
            var id_comment=null;
            $(interaction_user[i]).children('.interaction_user_replay').click((e)=>{
                id_comment = $(interaction_user[i]).attr('data-id')
                console.log(id_comment)
                 $(interaction_user[i]).children('.comment_replay').show()
            })
            $(interaction_user[i]).children('.comment_replay').children().children('.btn.btn-primary.close').click(()=>{
                $(interaction_user[i]).children('.comment_replay').hide()
            })
            $(interaction_user[i]).children('.comment_replay').children().children('.btn.btn-primary.close.submit').click(()=>{
                $(interaction_user[i]).children('.comment_replay').children().attr('action',`/course/${id_comment}/replay`)
                   $(interaction_user[i]).children('.comment_replay').children().submit()
            })
            $(interaction_user[i]).children('.comment_replay').children().children('.form-group').children('textarea').keypress((event)=>{
                if(event.keyCode == 13){
                    $(interaction_user[i]).children('.comment_replay').children().attr('action',`/course/${id_comment}/replay`)
                   $(interaction_user[i]).children('.comment_replay').children().submit()
                }

            })

        }

        
    })
   
</script>



