<style>
  .text{
   
    max-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

</style>
<div class="container">
  <div class="row">
    {{#each courses}}
    <div class="col-sm-6">
      <div class="card"  onclick="window.location='/{{this.slug}}'">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <h6 class="card-title">Tác giả: {{fullname this.author.firstname this.author.lastname}}</h6>
          <div class="text">
            {{{this.body}}}
          </div>
          <a href="#">Đọc tiếp</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div> 
</div>
<div></div>
<div class="container">
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center" id="pagiul">
      
      </ul>
  </nav>
</div>
<div id="pages_total" style="display: none;">{{pages}}</div>
<div id="pages_current" style="display: none;">{{current}}</div>
  <script>
    document.addEventListener('DOMContentLoaded',function(event){
    function mm(a){
      if(parseInt(a)== 1){
        return "disabled"
      }else{
        return ""
      }
    }
    function mm1(a,b){
      if(a ==b){
        return "disabled"
      }else{
        return ""
      }
    }
    function mm2(a,b){
      if(parseInt(a) ==b){
        return "active"
      }else{
        return ""
      }
    }
    
    function load(){
        $.ajax({
          url:'/course/showall',
          type:'GET'
          })
          .then(data=>{
              const pages_total =document.getElementById('pages_total').innerText
              const pages_current =document.getElementById('pages_current').innerText
              const pagiul =document.getElementById('pagiul')
              
              for(var i=0;i<=parseInt(pages_total);i++){
                const temp=`<li class="page-item ${mm2(pages_current,i+1)}">
                              <a class="page-link" href="/showall/${i+1}">${i+1}</a>
                            </li>`
                if(i==0){
                  pagiul.innerHTML +=`<li class="page-item ${mm(pages_current)}">
                                        <a class="page-link" href="/showall/${parseInt(pages_current)-1}" tabindex="-1">Previous</a>
                                      </li>`
                }
                if(i ==parseInt(pages_total)){
                  pagiul.innerHTML +=`<li class="page-item ${mm1(pages_current,pages_total)}">
                                        <a class="page-link" href="/showall/${parseInt(pages_current)+1}" >Next</a>
                                      </li>`
                }else{
                  pagiul.innerHTML +=temp
                }
              }
          })
          .catch(err=>{
          })
    }
    load()
    
})
</script>