<div class="container">
  <h1 class="mt-4">Nội dung của tôi</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">
        <a href="/course/create">Thêm nội dung</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="/me/course/rubbish">Thùng rác</a>
      </li>
  </ol>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tiêu đề</th>
        <th scope="col">Đề tài</th>
        <th scope="col">Ngày tạo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#if courses}}
        {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td><a href="/{{this.slug}}">{{this.title}}</a></td>
          <td>{{this.subject}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            
            <button type="button" class="btn btn-link">
                <a href="/course/{{this._id}}/edit">Sửa</a>
            </button>
            <span>|</span>
            <button type="button" class="btn btn-link del" data-toggle="modal"  data-target="#exampleModal" data-id="{{this._id}}">
                Xóa
            </button>
          </td>
        </tr>
        {{/each}}
      {{else}}
        <tr>
          <td><a href="/course/create">Thêm nội dung</a></td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xóa nội dung</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Bạn chắc chứ ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button id="btn_click_del" type="button" class="btn btn-primary d">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</div>
<form method="POST" name="delete_course"></form> 
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    var courseId
    var formData =document.forms['delete_course']
    var btnDel =document.getElementById('btn_click_del')
    var listbtn =document.querySelectorAll('.btn.btn-link.del')
    for(let i=0;i<listbtn.length;i++){
        $(listbtn[i]).on('click',(e)=>{
          courseId= listbtn[i].getAttribute("data-id")
        })
      }
    
    btnDel.addEventListener('click',function(){
      console.log(courseId)
      formData.action ="/course/"+courseId+"/delete"
      formData.submit()
      {{!-- $.ajax({
        url:'/course/'+courseId+'/delete',
        type:'DELETE',
        }).then(data=>{
            window.location.href='/me/course'
        })
        .catch(err=>{

        }) --}}
    })
  })
</script>
